In [1]:
# Import SparkSession
from pyspark.sql import SparkSession

# Create SparkSession 
spark = (
      SparkSession.builder
      .master("spark://spark-master:7077")
      .appName("test")
      .getOrCreate()
)

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/11/02 13:58:37 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
columns = ["firstname","middlename","lastname","dob","salary"]
data = [
  ('James','','Smith','1991-04-01',900000),
  ('Michael','Rose','','2000-05-19',4000),
  ('Robert','','Williams','1978-09-05',4000),
  ('Maria','Anne','Jones','1967-12-01',4000),
  ('Jen','Mary','Brown','1980-02-17',-1)
]

In [3]:
df = spark.createDataFrame(data=data, schema = columns)

df.show()

+---------+----------+--------+----------+------+
|firstname|middlename|lastname|       dob|salary|
+---------+----------+--------+----------+------+
|    James|          |   Smith|1991-04-01|900000|
|  Michael|      Rose|        |2000-05-19|  4000|
|   Robert|          |Williams|1978-09-05|  4000|
|    Maria|      Anne|   Jones|1967-12-01|  4000|
|      Jen|      Mary|   Brown|1980-02-17|    -1|
+---------+----------+--------+----------+------+